/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiar para que el formulario se vea más arriba */
    height: 100vh;
    padding-top: 50px; /* Ajuste del espacio superior del body */
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Ampliamos un poco el ancho del contenedor */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 10px; /* Espacio extra entre el encabezado y el formulario */
}

/* Estilo para agrupar dos campos en una línea */
.form-group-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Aumentamos el espacio entre los grupos */
}

.form-group {
    margin-bottom: 15px;
    width: 48%;
}

.form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-submit {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5cb85c;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
